* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: wheat;
  gap: 20px;
  padding: 20px;
}

section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  border-color: aqua;
  height: 85vh;
  width: 45vw;
  background: white;
}

input {
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  width: 150px;
  color: bisque;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: slateblue;
  cursor: pointer;
}
button:hover {
  background: blueviolet;
}
button:active {
  transform: scale(0.98);
}

#displayScreen {
  overflow-y: scroll;
}
